/* 元々のチェックボックス（非表示） */
.poke-checker input[type="checkbox"] {
  display: none;
}
/* チェックボックスの代わりを成すラベル */
.poke-checker input[type="checkbox"] {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  padding-left: 25px;
  padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス□ */
.poke-checker input[type="checkbox"]::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: -4px;
  top: 50%;
  border: 1px solid;
  border-color: #585753; /* 枠の色変更 お好きな色を */
  background-color: #fff; /* 背景の色変更 お好きな色を */
}
/* チェックが入った時のレ点 */
.poke-checker input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: -1px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #585753; /* チェックの色変更 お好きな色を */
}

//cording
.wrap {
  > h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}

.poke-container {
  .poke-list {
    > li {
      position: relative;
      border-bottom: 1px solid #ccc;
      display: flex;
      &:first-child {
        border-top: 1px solid #ccc;
      }
      .poke-number {
        width: 32px;
        padding-top: 14px;
        margin-right: 12px;
        font-size: 16px;
      }
      .poke-img {
        width: 54px;
        > img {
          width: 100%;
        }
      }
      .poke-name {
        margin-left: 10px;
        padding-top: 14px;
        font-size: 16px;
      }
      .poke-checker {
        position: absolute;
        top: 17px;
        right: 40px;
      }
    }
  }
}

.modal-windw {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  .modal-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    padding-top: 60px;
    border-radius: 10px;
    background-color: #fff;
    .poke-img {
      text-align: center;
    }
    > h1 {
      margin-top: 6px;
      margin-bottom: 16px;
      font-size: 28px;
      text-align: center;
    }
    > p {
      font-size: 20px;
      text-align: center;
    }
  }
}

//close
.btn-close {
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  position:absolute;
  bottom:4px;
  left:46%;
  transform: translate(0,-50%);
}
